---
import { getCollection, getEntry } from "astro:content";
import DefaultLayout from "../layouts/DefaultLayout.astro";

const allPosts = (await getCollection("talks")).toSorted(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<DefaultLayout title={"口頭発表"}>
  <section>
    <h2 id="talks" class="mt-8 text-xl text-slate-950">
      <a href="#talks">口頭発表</a>
    </h2>
    <ol class="mt-4 list-decimal pl-4 space-y-4">
      {
        allPosts.map(
          ({
            data: { title, authors, conference, date, materials },
            id: id,
          }) => (
            <li>
              <article id={id}>
                <h3 class="text-lg text-slate-900 font-sans">
                  <a href={"#" + id}>{title}</a>
                </h3>
                <ul class="text-sm text-slate-600 list-none flex space-x-2 font-serif">
                  {Array.isArray(authors) ? (
                    authors.map((author) => (
                      <li>
                        {typeof author === "object" && author.me ? (
                          <strong class="font-bold">{author.name}</strong>
                        ) : typeof author === "object" ? (
                          author.name
                        ) : (
                          author
                        )}
                      </li>
                    ))
                  ) : (
                    <li>
                      <strong class="font-bold">{authors}</strong>
                    </li>
                  )}
                </ul>
                <p class="text-sm text-slate-600 mt-1 font-serif">
                  <time datetime={date.toDateString()} class="font-mono">
                    {date.toLocaleDateString("ja-JP")}
                  </time>
                  <span>
                    {conference.url ? (
                      <a href={conference.url} class="underline">
                        {conference.name}
                      </a>
                    ) : (
                      conference.name
                    )}
                  </span>
                  @<span>{conference.at}</span>
                </p>
                <p class="text-sm text-slate-600 font-serif">
                  {materials?.map(({ name, url }, index) => (
                    <a href={url} class="underline mr-2">
                      {name}
                    </a>
                  ))}
                </p>
              </article>
            </li>
          )
        )
      }
    </ol>
  </section>
</DefaultLayout>
